body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 3px solid black; 
}

header {
    text-align: center;
    background-color: #f4f4f4;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

h1 {
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.menu-item {
    border-top: 1px solid #000;
    padding-top: 30px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    position: relative;
    box-sizing: border-box;
}

.section-title {
    position: absolute;
    top: 0; 
    right: 0;
    border-top: 1px solid #000;
    padding: 5px 10px;
    background-color: #f9f9f9;
    font-weight: bold;
}

#chicken {
    background-color: darkgray;
    border: 2px solid black;
}

#beef {
    background-color: darkgray;
    border: 2px solid black;
}

#sushi {
    background-color: darkgray;
    border: 2px solid black;
}

#c {
    background-color: pink;
    border: 2px solid black;
}

#b {
    background-color: rgb(196, 64, 64);
    border: 2px solid black;
}

#s {
    background-color: darkorange;
    border: 2px solid black;
}


@media (min-width: 992px) {
    .menu-item {
        width: 30%; 
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    
    .menu-item:nth-child(1), .menu-item:nth-child(2) {
        width: 48%; 
    }

    .menu-item:nth-child(3) {
        width: 100%;
    }
}


@media (max-width: 767px) {
    .menu-item {
        width: 100%; 
    }
}